@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --checkbox-color: white;
}
.br-lg {
  border-radius: 5px;
}
/* ======== stream css overrides ======== */
.str-video__call-stats {
  max-width: 500px;
  position: relative;
}

.str-video__speaker-layout__wrapper {
  max-height: 700px;
}

.str-video__participant-details {
  color: white;
}

.str-video__menu-container {
  color: white;
}

.str-video__notification {
  color: white;
}

.str-video__participant-list {
  background-color: #1c1f2e;
  padding: 10px;
  border-radius: 10px;
  color: white;
  height: 100%;
}

.str-video__call-controls__button {
  height: 40px;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

/* ==== clerk class override ===== */

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}

.cl-logoBox {
  height: 40px;
}
.cl-dividerLine {
  background: #252a41;
  height: 2px;
}

.cl-socialButtonsIconButton {
  border: 3px solid #565761;
}
.cl-avatarImageActionsUpload{
  color:#007DFC;
}
.cl-avatarImageActionsUpload:hover{
  color:#007DFC;
  background-color:#007efc0c;
}
.cl-internal-wkkub3 {
  color: white;
}
.cl-userButtonPopoverActionButton {
  color: white;
}
.cl-providerIcon__github {
  filter: invert(1);
}
.cl-formFieldInputShowPasswordIcon, .cl-internal-rvg68x {
  color: white;
}
.cl-badge {
  color: rgb(175, 175, 175);
}
.cl-avatarImage ,.cl-userButtonBox,.cl-avatarBox {
  width: 40px;
  height: 40px;
}
.cl-button__manageAccount:hover,
.cl-button__signOut:hover {
  color: white;
  background-color: #3d3e46;
}
.cl-menuButton__connectedAccounts {
  border:none;
  transition: all 0.3s;
}
.cl-internal-1pmoz52:hover{
  background-color: #007DFC;
  
}
.cl-internal-16rjnjd{
  visibility: hidden;
}
/* =============================== */

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

/* animation */

.show-block {
  width: 100%;
  max-width: 350px;
  display: block;
  animation: show 0.7s forwards linear;
}

@keyframes show {
  0% {
    animation-timing-function: ease-in;
    width: 0%;
  }

  100% {
    animation-timing-function: ease-in;
    width: 100%;
  }
}
.custom-checkbox {
  appearance: none;
  background-color: #1C1F2E !important;
  border: 2px solid #007DFC !important;
  border-radius: 4px !important;
  width: 20px !important;
  height: 20px !important;
  position: relative !important;
}

.custom-checkbox:checked {
  background-color: #007DFC !important;
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.str-video__menu-container{
  border-radius: 10px !important;
  margin-left: 10px;
}
.str-video__device-settings{
  background-color: #2b2f47cb;
  
}
.str-video__device-settings__device-kind{
  background: none !important ;
  border-radius: 0 !important;
}
.str-video__device-settings__option{
  border-radius: 6px !important;

}

.d-menu-item:hover{
  background: #49507765 !important;
  border-radius: 5%;
}
.str-video__icon{
  background-color: rgb(255, 255, 255) !important;
}
.str-video__call-stats,.str-video__call-stats__card,.str-video__menu-container,.str-video__generic-menu{
  background-color: #1c1f2ec5 !important;

}
.str-video__generic-menu--item,.str-video__generic-menu--item>button {
  background-color: #262a3e !important;
  border-radius: 10px !important;
}
.str-video__generic-menu--item:hover,.str-video__generic-menu--item>button:hover {
  background-color: #3c4263 !important;

}

